#root-PageNav {
  /* padding: 0 4rem; */
  margin: 1rem auto;
  width: 80vw;
  /* border: 0.1rem solid black; */
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  gap: 0.3rem;
}

#root-PageNav:hover {
  cursor: crosshair;
}

.links-PageNav {
  width: 3rem;
  font-weight: bold;
  text-align: center;
  font-size: 1.5rem;
  background-color: rgb(181, 182, 182);
}

.linksActive-PageNav {
  width: 3rem;
  font-weight: bold;
  text-align: center;
  font-size: 1.5rem;
  background-color: aquamarine;
}