#root-SearchItem {
  display: flex;
  flex-grow: 0.5;
  justify-content: center;
  align-items: center;
  background-color: pink;

  /* animation */
  transition: 
    width 3s,
    height 3s
  ;
}

#imgContainer-SearchItem {
  object-fit: scale-down;
  max-width: 90%;
  max-height: 90%;
  overflow: clip;
  
}

#imgContainer-SearchItem.focus {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  max-height: 100%;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

#img-SearchItem {
  object-fit: scale-down;
  max-width: 100%;
  max-height: 100%;

}

#img-SearchItem.focus {
  object-fit: contain;
  max-width: 80%;
  max-height: 80%;
}

#p-SearchItem {
  background-color: white;
  padding: 0.3rem;
  font-size: 3rem;
}

.links-SearchItem {
  position: fixed;
  top: 80%;
  backdrop-filter: invert(70%);
  font-size: 1.5rem;
  color: rgb(78, 11, 11);
  padding: 0.4rem;
  z-index: 100;
}

.links-SearchItem:hover {
  background-color: rgb(100, 50, 200, 0.4);
  cursor: pointer;
}

#dicogsLink-SearchItem {
  left: 5vw;
}

#researchLink-SearchItem {
  left: 50vw;
  transform: translateX(-50%);
}

#youtubeLink-SearchItem {
  right: 5vw;
}

/* scale for smaller windows and tablets */
@media (min-width: 600px) and (max-width: 1199px) {
  .links-SearchItem {
    font-size: 2rem;
  } 
}

/* scale for laptops/PC and large screens */
@media (min-width: 1200px) {
  .links-SearchItem {
    font-size: 2rem;
  } 

}